.navContainer {
    padding: 1em;
    display: flex;
    justify-content: space-between;
}

.navLink {
    font-family: "Montserrat", sans-serif;
    margin: 2em;
    padding: 0.6em 0.8em;
    color: black;
    transition-property: background-color;
    transition-duration: 0.5s;
}

.navLink:hover {
    background-color: beige;
}

.logoLink {
    margin-left: 2em;
    width: auto;
    height: 1.6em;
    color: black;
}