@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

@media (min-width: 500px) {
  .photo {
    width: auto;
    height: 12rem;
  }

  .body-container {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .project-container {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 4vh 0 4vh 0;
  }

  .conteiner-one {
    grid-column-start: 1;
  }

  .conteiner-two {
    grid-column-start: 2;
  }

  .project-image {
    padding: 0 4vh 4vh 4vh;
    height: auto;
    width: 46vw;
  }
}

@media (max-width: 501px) {
  .photo {
    visibility: hidden;
    width: auto;
    height: 12rem;
  }

  .body-container {
    display: grid;
    grid-template-columns: 100%;
  }

  .project-container {
    display: grid;
    grid-template-columns: 100%;
    padding: 4vh 0 4vh 0;
  }

  .conteiner-one {
    grid-column-start: 1;
  }

  .conteiner-two {
    grid-column-start: 2;
  }

  .project-image {
    padding: 0 4vh 4vh 4vh;
    height: auto;
    width: 84vw;
  }
}

.nav-background {
  background-color: rgb(183, 184, 188);
  display: flex;
  justify-content: space-between;
  font-family: "Montserrat", sans-serif;
}

.nav-container-name {
  padding: 2rem 2rem 0 2rem;
}

.icon {
  color: black;
  margin: 1em 1em 1em 0;
  width: auto;
  height: 2rem;
}

.flex-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  cursor: pointer;
}

.flex-container:hover {
  background-color: beige;
}

.flex-container-row {
  display: flex;
  flex-direction: column;
  padding: 4vh;
}

.button-hidden {
  width: auto;
  height: 2em;
  margin-top: 0.4rem;
  padding: 2vh 4vh 2vh 4vh;
}

.title {
  color: rgb(173, 174, 184);
  font-weight: 500;
  padding: 2vh 4vh 2vh 4vh;
}

.sub-title {
  color: rgb(173, 174, 184);
  font-weight: 500;
  padding: 0 4vh 2vh 4vh;
}

.text {
  font-family: "Montserrat", sans-serif;
  padding: 0 4vh 4vh 4vh;
}

.text-gray {
  color: rgb(156, 158, 181);
  font-family: "Montserrat", sans-serif;
  padding: 0 4vh 0 4vh;
}

.text-contact {
  font-family: "Montserrat", sans-serif;
  padding: 4vh;
}

.list {
  padding: 0 0 2vh 8vh;
}

.item {
  font-family: "Montserrat", sans-serif;
  padding: 0 0 0 4vh;
}

.eng {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  background-color: rgb(255, 255, 255);
  margin: 1.4em 0 1em 6em;
  width: 2.5rem;
  height: 1.7rem;
  border-radius: 8px 0 0 8px;
  cursor: pointer;
  border: none;
}

.esp {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  background-color: rgb(255, 255, 255);
  margin: 1.4em 0 1em 0;
  width: 2.5rem;
  height: 1.7rem;
  border-radius: 0 8px 8px 0;
  cursor: pointer;
  border: none;
}

.active {
  background-color: black;
  color: rgb(255, 255, 255);
}

.active-section {
  background-color: beige;
}

.link-container {
  display: flex;
}
