@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.photo {
  width: auto;
  height: 12rem;
}

.nav-background {
  background-color: rgb(183, 184, 188);
  display: flex;
  justify-content: space-between;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 4vh;
}

.nav-container-name {
  padding: 2rem 2rem 0 2rem;
}

.icon {
  color: black;
  margin: 1em 1em 1em 0;
  width: auto;
  height: 2rem;
}

.body-container {
  display: grid;
  grid-template-columns: 50% 50%;
}

.conteiner-one {
  grid-column-start: 1;
}

.conteiner-two {
  grid-column-start: 2;
}

.title {
  color: rgb(173, 174, 184);
  font-weight: 500;
  padding: 0 4vh 2vh 4vh;
}

.sub-title {
  color: rgb(173, 174, 184);
  font-weight: 500;
  padding: 0 4vh 2vh 4vh;
}

.text {
  font-family: 'Montserrat', sans-serif;
  padding: 0 4vh 4vh 4vh;
}

.text-gray {
  color: rgb(156, 158, 181);
  font-family: 'Montserrat', sans-serif;
  padding: 0 4vh 0 4vh;
}

.project-image {
  padding: 0 4vh 4vh 4vh;
  height: auto;
  width: 46vw;
}

.list {
  padding: 0 0 2vh 8vh;
}

.item {
  font-family: 'Montserrat', sans-serif;
  padding: 0 0 0 4vh;
}